<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
</head>
<body>
    <nav>
        <%- include('partials/nav.ejs'); %>
    </nav>

    <main>
        <h1>Tietosuoja</h1>

        <section class="rekisterinPitaja">
            <h2>Rekisteri- ja tietosuojaseloste</h2>
            <p>Tämä on Nousu henkilötietolain (10 ja 24 §) ja EU:n yleisen tietosuoja-asetuksen (GDPR) mukainen rekisteri- ja tietosuojaseloste. Laadittu 9.7.2020</p>
            <br>
            <h2>Rekisterinpitäjä</h2>
            <p>Nousu <br>
                Puh: 0508476539 <br>
                nousu@gnousu.com <br>
                Y-TUNNUS 245543-4
            </p>
            <br>
            <h3>Rekisteristä vastaava yhteyshenkilö</h3>
            <p>Matti MEikäläinen
                <br>
                nousu@gmail.com
                <br>
                Puh: 0508476539</p>
            <br>
            <h3>Rekisterin nimi</h3>
            <p>Nousu asiakasrekisteri
                <br>
                Yhdistetty asiakasrekisteri.
            </p>
            <br>
            <h3>Oikeusperuste ja henkilötietojen käsittelyn tarkoitus</h3>
            <p>EU:n yleisen tietosuoja-asetuksen mukainen oikeusperuste henkilötietojen käsittelylle on pitää yllä asiakassuhteita ja markkinoida palveluja mahdollisesti uudelleen.</p>
            <br>
            <h3>Rekisterin tietosisältö</h3>
            <p>Rekisteriin tallennettavia tietoja ovat:
                Henkilön ja/tai yrityksen nimi, puhelinnumero, sähköposti.</p>
            
            <br>
            <h3>Säännönmukaiset tietolähteet</h3>
            <p>Rekisteriin tallennettavat tiedot saadaan asiakkaalta mm. www-lomakkeilla lähetetyistä viesteistä, sähköpostitse, puhelimitse, sosiaalisen median palvelujen kautta, sopimuksista, asiakastapaamisista ja muista tilanteista, joissa asiakas luovuttaa tietojaan.</p>

            <br>
            <h3>Tietojen säännönmukaiset luovutukset ja tietojen siirto EU:n tai ETA:n ulkopuolelle</h3>
            <p>Käytämme kaikkia asiakastietoja kunnioittaen, emmekä koskaan myy tai jaa niitä eteenpäin ilman erillistä lupaa asiakkaalta.</p>

            <br>
            <h3>Rekisterin suojauksen periaatteet</h3>
            <p>Kaikki asiakastiedot on suojattua sisältöä ja löytyvät vähintään yhden, tai useamman salasanan takaa. Säilytämme asiakastietoja mm. puhelimella, tietokoneella ja sähköpöstissa.Lisäksi löytyy Valokuvat, joita olen kuvannut ihmisistä. Nämä säilytetään kovalevyllä, joita ei ole suojattu erikseen.  </p>

            <br>
            <h3>Tarkastusoikeus ja oikeus vaatia tiedon korjaamista</h3>
            <p>Jokaisella rekisterissä olevalla henkilöllä on oikeus tarkistaa rekisteriin tallennetut tietonsa ja vaatia mahdollisen virheellisen tiedon korjaamista tai puutteellisen tiedon täydentämistä. Mikäli henkilö haluaa tarkistaa hänestä tallennetut tiedot tai vaatia niihin oikaisua, pyyntö tulee lähettää kirjallisesti rekisterinpitäjälle. Rekisterinpitäjä voi pyytää tarvittaessa pyynnön esittäjää todistamaan henkilöllisyytensä. Rekisterinpitäjä vastaa asiakkaalle EU:n tietosuoja-asetuksessa säädetyssä ajassa (pääsääntöisesti kuukauden kuluessa).</p>

            <br>
            <h3>Muut henkilötietojen käsittelyyn liittyvät oikeudet</h3>
            <p>Rekisterissä olevalla henkilöllä on oikeus pyytää häntä koskevien henkilötietojen poistamiseen rekisteristä ("oikeus tulla unohdetuksi"). Niin ikään rekisteröidyillä on muut EU:n yleisen tietosuoja-asetuksen mukaiset oikeudet kuten henkilötietojen käsittelyn rajoittaminen tietyissä tilanteissa. Pyynnöt tulee lähettää  rekisterinpitäjälle. Rekisterinpitäjä voi pyytää tarvittaessa pyynnön esittäjää todistamaan henkilöllisyytensä. Rekisterinpitäjä vastaa asiakkaalle EU:n tietosuoja-asetuksessa säädetyssä ajassa (pääsääntöisesti kuukauden kuluessa).</p>
        </section>
    </main>

    <footer>
        <%- include('partials/footer.ejs'); %>
    </footer>
</body>
</html>