<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <nav>
        <%- include('partials/nav'); %>
    </nav>
    
    <main>
        <section class="indexSection1">
            <h1>Täällä nostetaan yrityksiä näkyville</h1>
            <p>Nettisivut yrityksille</p>
            <p>Valokuvauspalvelut yrityksille</p>
            <p>Markkinointiassistenttipalvelut</p>
            <a href="/contact"><button>Lisää palveluista</button></a>
        </section>

        <section class="indexSection2">
            <h2>NOSTETAAN YRITYKSESI NÄKYVIIN</h2>
            <p>Markkinointia ja näkyvyyttä tukeva Nousu auttaa yrityksiä alkutaipaleella ja sen kehitysvaiheissa. Nousulta saat kaiken tarvittavan yritystoiminnan aloittamiseen, kuten kotisivut yritykselle.  Saat opastusta ja koulutusta sivujesi käyttöön, ylläpitoon ja markkinointiin. Nousu on myös mukana yrityksen kehitysvaiheissa, kun on tarve uudistua. Asiakashankinta on helpompaa, kun yrityksesi kotisivut ovat nykyaikaiset ja toimivat. Yrityksen aloittaminen ja kehittäminen on helppoa Nousun kanssa.</p>
            <p>Palveluista löytyy kotisivut yritykselle, printattavat markkinointimateriaalit, kuten käyntikorttien suunnittelu, sisällöntuotanto, markkinointi sekä valokuvauspalvelut, kuvapankit ja mainoskuvat. Nousunen on kuin ikioma markkinointiassistentti, ilman rekrytointi kuluja.</p> 
            <p>Voit tilata suoraan akuuttiin tarpeeseen palveluita, tai valita markkinointiassistentti palvelun, joka sisältää kaikki palvelut yhdellä kuukausimaksulla.</p> 
            <br>
            <h2>NOSTETAAN YRITYKSESI NÄKYVIIN</h2>
            <p>Nousu tekee laadukkaat kotisivut yritykselle, jotka ovat mobiiliystävälliset ja nykyaikaisesti toteutetut. Yrityksen kotisivut yhdistetään tärkeimpiin mainonnan työkaluihin. Voit luoda näyttäviä email-kampanjoita ja analysoida dataa, joka auttaa ymmärtämään asiakkaitasi ja opit kohdentamaan mainontaa. Nousu haluaa menestystäsi ja jakaa kaiken tiedon kanssasi, jonka avulla yrityksesi voi saavuttaa paremmat tulokset heti alkuvaiheessa. Nousu tekee kaikkensa, jotta menestyt, sillä asiakkaiden onnistumistarinat on meille tärkein  menestyksen mittari.</p>
        </section>

        <section class="indexSection3">
            <h2>Haluatko henkilökohtaista konsultaatiota yritystoiminnan kehittämiseen?</h2>
            <p><img class="phoneicon" src="/assets/img/phone.svg" alt="phone"> 050 847 6539</p>
            
            <a href="/contact"><button>PALVELUT</button></a>
        </section>

    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>