<!DOCTYPE html>
<html lang="fi">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <nav>
        <%- include('partials/nav'); %>
    </nav>
    <h1>PALVELUT</h1>

    <main>
        <section>
            <h2>Valokuvaus</h2>
        </section>

        <section>
            <h2>Nettisivut</h2>
        </section>

        <section>
            <h2>Markkinointiassistentti</h2>
        </section>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>