<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <nav>
        <%- include('partials/nav'); %>
    </nav>

    <main>
        <h2 class="nettisivut">Nettisivut</h2>
            <section class="refeNettisivut">
                <div class="column"><a href="http://www.etelasuomenparketti.fi/" target="_blank"><img style="width: 180px; height: 180px;margin: 0px; padding: 0;" src="https://static.wixstatic.com/media/5d9f53_7efbc3085a63476681af910142d50eba~mv2.png/v1/fill/w_147,h_145,al_c,q_85,usm_0.66_1.00_0.01/ES-Parketti_logo_nettiin_ruskea.webp" alt="ES-Parketti"></a>
                </div>

                <div class="column2"><a href="https://www.villaalba.fi/" target="_blank"><img style="width: 250px; height: 250px;" src="https://static.wixstatic.com/media/5d9f53_61febf11bb274af58aef614495f015b2~mv2.png/v1/fill/w_206,h_200,al_c,q_85,usm_0.66_1.00_0.01/logo_final.webp" alt="Villa Alba"></a>
                </div>

                <div class="column3"><a href="https://www.blablabla.fi/" target="_blank"><img style="width: 120px; height: 120px;" src="https://static.wixstatic.com/media/5d9f53_134bbd6fb03140598f2797709e96b335~mv2.png/v1/fill/w_123,h_79,al_c,q_85,usm_0.66_1.00_0.01/bla.webp" alt="Bla bla bla"></a>
                </div>
            </section>
        
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>