* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

/*navigation*/
nav {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav img {
    max-width: 100px;
    width: 100%;
    margin: 10px auto;
}

ul {
    list-style: none;
    max-width: 200px;
    max-width: 1000px;
    width: 100%;
    margin: 10px auto;
}

ul li {
    padding: .6rem;
}

ul li a {
    text-decoration: none;
    color: #1D1E21;
    font-size: 16px;
    font-weight: bold;
}

ul li a:hover {
    color: rgb(239, 156, 131);
    transition: .2s;
}

/*index.ejs*/
section.indexSection1{
    max-width: 1000px;
    width: 100%;
    background-color: #8CCAC8;
    margin: 1rem auto;
    padding: 2rem;
}

section.indexSection1 h1 {
    font-size: 2rem;
    margin: 1rem auto;
}

section.indexSection1 p {
    font-size: 1rem;
    margin: 1rem auto;
    font-weight: bold;
}

section.indexSection1 a {
    text-decoration: none;
}

section.indexSection1 button {
    margin: 10px auto;
    display: block;
    background-color: #8CCAC8;
    padding: .4rem 2rem;
    color: #1D1E21;
    border: #1D1E21 1.5px solid;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

section.indexSection1 button:hover {
    background-color: #1D1E21;
    color: #fff;
    transition: .5s;
}

section.indexSection2 {
    max-width: 620px;
    width: 100%;
    margin: 1rem auto;
    padding: 2rem;
}

section.indexSection2 h2 {
    font-size: 1rem;
}

section.indexSection2 p {
    font-size: 1rem;
    margin: 2rem;
}

section.indexSection3 {
    justify-content: space-around;
    background-color: #8CCAC8;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 1000px;
    width: 100%;
}

section.indexSection3 h2 {
    font-size: 1rem;
    margin: 1rem auto;
}

section.indexSection3 p {
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem auto;
}

section.indexSection3 img.phoneicon {
    max-width: 1.4rem;
}

section.indexSection3 a {
    text-decoration: none;

}

section.indexSection3 button {
    margin: 10px auto;
    display: block;
    background-color: #8CCAC8;
    padding: .4rem 2rem;
    color: #1D1E21;
    border: #1D1E21 1.5px solid;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

section.indexSection3 button:hover {
    background-color: #1D1E21;
    color: #fff;
    transition: .5s;
}


/*contact.ejs*/
form {
    margin: 50px auto;
    max-width: 1000px;
    width: 100%;
    padding: 1rem;
    background-color: rgb(239, 156, 131);
}

form p {
    margin: 2rem auto;
}

form div.contact {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

form div.contact input {
    border: #1D1E21 1.5px solid;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 295px;
    width: 100%;
}

form div {
    margin: 10px auto;
    text-align: left;
    max-width: 580px;
}

form input[type=checkbox], label {
    cursor: pointer;
}

form textarea {
    resize: none;
    width: 100%;
    max-width: 600px;
    height: 200px;
    border: #1D1E21 1.5px solid;
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem auto;
}

form button {
    margin: 10px auto;
    display: block;
    background-color: rgb(239, 156, 131);
    padding: .4rem 2rem;
    color: #1D1E21;
    border: #1D1E21 1.5px solid;
    border-radius: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #1D1E21;
    color: #fff;
    transition: .5s;
}

section.contactSectionNettisivut {
    background-color: #8CCAC8;
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    padding: 1rem;
    color: #1D1E21;
}

section.contactSectionNettisivut h3 {
    margin: 1rem;
    font-size: 1rem;
}

section.contactSectionNettisivut p {
    color: #1D1E21;
    margin: 1rem auto;
    font-size: 1rem;
}

section.contactSectionNettisivut a {
    color: #1D1E21;
}

section.contactSectionNettisivut p.koulutus {
    max-width: 400px;
}

section.contactSectionValokuvaus {
    background-color: #8CCAC8;
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    padding: 1rem;
    color: #1D1E21;
}

section.contactSectionValokuvaus h3, h4 {
    margin: 1rem;
    font-size: 1rem;
}

section.contactSectionValokuvaus h5 {
    font-size: .9rem;
    margin: 1rem;
}

section.contactSectionValokuvaus p {
    margin: .2rem;
    font-size: 1rem;
}

section.contactSectionAssistentti {
    background-color: #8CCAC8;
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    padding: 1rem;
    color: #1D1E21;
}

section.contactSectionAssistentti h3 {
    margin: 1rem;
    font-size: 1rem;
}

section.contactSectionAssistentti p {
    font-size: 1rem;
}

/*refe.ejs*/
h2.nettisivut {
    font-size: 2rem;
    margin: 5rem auto 2rem auto;
}

section.refeNettisivut {
    max-width: 1000px;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
}

section.refeNettisivut div.column {
    padding-top: 3rem;
}

section.refeNettisivut div.column2 {
    padding-top: 1rem;
}

section.refeNettisivut div.column3 {
    padding-top: 5rem;
}

section.refeNettisivut div.column img {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}

h2.valokuvaus {
    font-size: 2rem;
    margin: 5rem auto 2rem auto;
}

section.valokuvaus {
    max-width: 500px;
    width: 100%;
    margin: 1rem auto;
    border: #1D1E21 1px solid;
}

/*tietosuoja*/
section h2, h3, p {
    font-size: .7rem;
}

section.rekisterinPitaja {
    padding: 1rem;
    max-width: 1000px;
    width: 100%;
    margin: 1rem auto;
    text-align: left;
}

/*footer*/
footer {
    color: #1D1E21;
    margin: 1rem auto;
    max-width: 1000px;
    width: 100%;
    padding: 1rem;
}

footer a {
    font-size: .7rem;
    color: #1D1E21;
}

/*mobile display*/
@media only screen and (max-width: 680px) {
    /*navigation*/
    nav ul {
        display: block;
    }

    /*contact.ejs*/
    form div.contact {
        display: block;
        text-align: center;
    }

    form div.contact input {
        margin: .3rem auto;
    }

    /*refe.ejs*/
    section.refeNettisivut {
        display: block;
    }

    section.refeNettisivut div.column2 {
        padding-top: 1rem;
    }

    section.refeNettisivut div.column3 {
        padding-top: 1rem;
    }
}